<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 웹브라우저 모든 요청에 대한 단일 진입점 역할의 Front Controller Servlet(메인서블릿) 등록 -->
	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>kr.or.kosta.shoppingmall.common.controller.SimpleFrontControllerServlet_V1</servlet-class>
		<init-param>
			<param-name>controllerMapperLocation</param-name>
			<param-value>I:/KOSTA164/workspace/Model2WebStudy/WebContent/WEB-INF/controller-mapper.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>*.mall</url-pattern>
		<!-- <url-pattern>/blog/*</url-pattern> -->
	</servlet-mapping>
</web-app>